
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
body{
  background:yellow;
  font-family: 'Raleway', sans-serif;
}

span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:120px;
  letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
            8px 8px #ff1f8f,
            20px 20px #000000;
}